<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
 <head>
  <title>Planet PostgreSQL</title>
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="Planet PostgreSQL" href="http://planet.postgresql.org/rss20.xml" />
  <style type="text/css" media="screen" title="Normal Text">@import url("css/planet.css");</style>
 </head>
 <body>
  <div id="planetWrap">
   <div id="planetHeader">
    <div class="fl"><img src="http://www.postgresql.org/layout/images/hdr_left.png" alt="PostgreSQL" /></div>
    <div class="fr"><img width="210" height="80" src="http://www.postgresql.org/layout/images/hdr_right.png" alt="The world's most advanced open source database" /></div>
    <div class="cb"></div>
   </div> <!-- planetHeader -->
   <div id="planetMain">
${self.body()}
   </div> <!-- planetMain -->
  </div> <!-- planetWrap -->
 </body>
</html>
