{% extends "base.tmpl" %}
{% load hamn %}
{% block title %}Planet PostgreSQL{% endblock %}
{% block content %}

    <!-- Main Content -->

    <div class="col-md-9">
        <h1>Latest Blog Posts</h1>

        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{post.link}}">{{post.title}}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Posted by {%if post.feed.blogurl%}<a href="{{post.feed.blogurl}}">{{post.feed.name}}</a>{%else%}{{post.feed.name}}{%endif%} {%if post.feed.team%} in <a href="{{post.feed.team.teamurl}}">{{post.feed.team.name}}</a>{%endif%} on <span class="date">{{post.dat|date:"Y-m-d"}} at {{post.dat|date:"H:i"}}</span></h6>
                    <div>
                        {{post.txt|postcontents}}
                    </div>
                </div>
            </div>
            <p></p>
        {% endfor %}

    </div>
    <!-- End Main Content -->

    <!-- Info -->
    <div class="col-md-3">

        {% if topposters %}
            <h2>Top posters</h2>
            <p>Number of posts in the past two months</p>
            <ul class="toplist">
                {% for feed in topposters %}
                    <li><a href="{{feed.feedurl}}"><img src="/img/feed-icon-14x14.png" alt="RSS"/></a> {%if feed.blogurl %}<a href="{{feed.blogurl}}">{{feed.name}}</a>{%else%}{{feed.name}}{%endif%} {%if feed.team%}({{feed.team.name}}) {%endif%}- {{feed.numposts}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if topteams %}
            <h2>Top teams</h2>
            <p>Number of posts in the past two months</p>
            <ul>
                {% for team in topteams %}
                    <li><a href="{{team.teamurl}}">{{team.name}}</a> - {{team.numposts}}</li>
                {%endfor%}
            </ul>
        {% endif %}

        <h2>Feeds</h2>
        <ul>
            <li><a href="rss20.xml"><img src="/img/feed-icon-14x14.png" alt="rss" /></a> <a href="rss20.xml">All feeds (full entries)</a></li>
            <li><a href="rss20_short.xml"><img src="/img/feed-icon-14x14.png" alt="rss" /></a> <a href="rss20_short.xml">All feeds (short entries)</a></li>
        </ul>

        {%if twittername %}
            <h2>Twitter</h2>
            <ul>
                <li>Follow @<a href="https://twitter.com/{{twittername}}">{{twittername}}</a> on Twitter for the latest updates!</li>
            </ul>
        {%endif%}

        <h2>Planet</h2>
        <ul>
            <li><a href="https://www.postgresql.org/about/policies/planet-postgresql/">Policy</a> for being listed on Planet PostgreSQL.</li>
            <li><a href="add.html">Add</a> your blog to Planet PostgreSQL.</li>
            <li><a href="feeds.html">List</a> of all subscribed blogs.</li>
            <li><a href="/register/">Manage</a> your registration.</li>
        </ul>

        <h2>Contact</h2>
        <p>Get in touch with the Planet PostgreSQL administrators at <i>planet at postgresql.org</i>.</p>

    </div>
    <!-- End Info -->

{% endblock %}