{% extends "base.tmpl" %}
{% load hamn %}
{% block content %}
    <div id="planetRight">
{% if topposters %}
     <div class="planetRightTitle">Top posters</div>
     <div class="planetRightDescription">Number of posts in the past month</div>
     <ul class="toplist">
{% for feed in topposters %}
      <li><a href="{{feed.feedurl}}"><img src="img/feed-icon-14x14.png" alt="RSS"/></a> {%if feed.blogurl %}<a href="{{feed.blogurl}}">{{feed.name}}</a>{%else%}{{feed.name}}{%endif%} {%if feed.team%}({{feed.team.name}}) {%endif%}- {{feed.numposts}}</li>
{% endfor %}
     </ul>
{% endif %}
{% if topteams %}
     <div class="planetRightTitle">Top teams</div>
     <div class="planetRightDescription">Number of posts in the past month</div>
     <ul>
{% for team in topteams %}
      <li><a href="{{team.teamurl}}">{{team.name}}</a> - {{team.numposts}}</li>
{%endfor%}
     </ul>
{% endif %}
     <div class="planetRightTitle">Feeds</div>
     <ul>
      <li><a href="rss20.xml"><img src="img/feed-icon-14x14.png" alt="rss" /></a> <a href="rss20.xml">All feeds (full entries)</a></li>
      <li><a href="rss20_short.xml"><img src="img/feed-icon-14x14.png" alt="rss" /></a> <a href="rss20_short.xml">All feeds (short entries)</a></li>
     </ul>
{%if twittername %}
     <div class="planetRightTitle">Twitter</div>
     <ul>
      <li>Follow @<a href="https://twitter.com/{{twittername}}">{{twittername}}</a> on Twitter for the latest updates!</li>
     </ul>
{%endif%}
     <div class="planetRightTitle">Planet</div>
     <ul>
      <li><a href="https://wiki.postgresql.org/wiki/Planet_PostgreSQL">Policy</a> for being listed on Planet PostgreSQL.</li>
      <li><a href="add.html">Add</a> your blog to Planet PostgreSQL.</li>
      <li><a href="feeds.html">List</a> of all subscribed blogs.</li>
      <li><a href="/register/">Manage</a> your registration.</li>
     </ul>
     <div class="planetRightTitle">Contact</div>
     <ul>
      <li>Get in touch with the Planet PostgreSQL administrators at <i>planet at postgresql.org</i>.</li>
     </ul>
    </div> <!-- planetRight -->
    <div id="planetLeft">
{% for post in posts %}
     <div class="planetPost">
      <div class="planetPostHeaderWrap">
       <div class="planetPostHeader">
        <div class="planetPostTitle"><a href="{{post.link}}">{{post.title}}</a></div>
        <b class="blf"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
        <div class="planetPostAuthor">
         Posted by {%if post.feed.blogurl%}<a href="{{post.feed.blogurl}}">{{post.feed.name}}</a>{%else%}{{post.feed.name}}{%endif%} {%if post.feed.team%} in <a href="{{post.feed.team.teamurl}}">{{post.feed.team.name}}</a>{%endif%} on <span class="date">{{post.dat|date:"Y-m-d"}} at {{post.dat|date:"H:i"}}</span>
        </div><!-- end planetPostHeader -->
        <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
        <div class="cl"></div>
       </div><!-- end planetPostHeaderWrap -->
      </div><!-- end planet Post -->
      <div class="planetPostContent">{{post.txt|postcontents}}</div>
      <div class="cl"></div>
     </div>
{% endfor %}
    </div> <!-- planetLeft -->
{% endblock %}
