{%extends "base.tmpl"%}
{%block content%}
<h1>Planet PostgreSQL policy</h1>
<p>
The following simple rules cover the blogs being listed on Planet PostgreSQL:
</p>
 <ul>
 <li>All blogs should be about PostgreSQL or closely related technologies. If you want to blog
     about other things as well, please put your PostgreSQL specific posts in a separate
     category/tag/label, and use the feed for this category only for Planet PostgreSQL.</li>
 <li>All topics related to PostgreSQL are of course appreciated - both technical and
     non-technical.</li>
 <li>All posts should be in English. If you want to blog multilingual, please put
     your PostgreSQL specific posts in a separate category/tag/label, and use the feed for
     this category only for Planet PostgreSQL.</li>
 <li>Avoid inflammatory posts or personal attacks in posts syndicated.</li>
 <li>Publishing of advertising in the syndicated part of your blog is not permitted</li>
</ul>
<p>Violating these rules will cause your blog to be removed from Planet PostgreSQL.</p>
{%endblock%}
