; Copy this file to planet.ini and edit as needed

[planet]
db=dbname=planetbeta host=/tmp/ user=planetbeta

[list]
server=localhost
listname=planet-subscribers
password=yeahthatssecret

[notify]
mailfrom=webmaster@postgresql.org
mailto=planet@postgresql.org
minerrors=3

[twitter]
account=twittername
listname=subscribers
consumer=somethingsecret
consumersecret=evenmoresecret
token=getwith-setuptwitter.py
secret=getwith-setuptwitter.py

[tr.im]
account=planetpostgres
password=topsecret

[bit.ly]
account=planetpostgres
apikey=topsecret
