; Copy this file to planet.ini and edit as needed

[planet]
db=dbname=planetbeta host=/tmp/ user=planetbeta

[list]
server=localhost
listname=planet-subscribers
password=yeahthatssecret

[notify]
mailfrom=webmaster@postgresql.org
mailto=planet@postgresql.org
minerrors=3

[twitter]
account=planetpostgres
password=topsecret

[tr.im]
account=planetpostgres
password=topsecret

