; Copy this file to planet.ini and edit as needed

[planet]
db=dbname=planetbeta host=/tmp/ user=planetbeta

[list]
server=http://localhost:8010
listname=planet-subscribers@lists.localhost
apikey=d0b26d3c-9dd9-4bd7-b8fb-cd15e5b99678

[notify]
mailfrom=webmaster@postgresql.org
mailto=planet@postgresql.org
minerrors=3

[twitter]
account=twittername
listname=subscribers
consumer=somethingsecret
consumersecret=evenmoresecret
token=getwith-setuptwitter.py
secret=getwith-setuptwitter.py
