{% extends "regbase.html" %}
{%block regcontent%}
{%if blogs %}
<script language="javascript">
 function confirmDelete(name,id) {
  if (confirm('Are you sure you want to delete the blog \'' + name + '\'?'))
    location.href='delete/' + id + '/';
 }
</script>
<p>
We have the following blog(s) registered:
</p>
<table border="1" cellspacing="0" cellpadding="1">
<tr>
 <th>Userid</th>
 <th>Name</th>
 <th>Approved</th>
 <th>Feed URL/Blog URL</th>
 <th>Operations</th>
{% if user.is_superuser %}
 <th>Admin</th>
{%endif%}
</tr>
{%for blog in blogs%}
<tr valign="top" {%if user.is_superuser and not blog.approved%}bgcolor="red"{%endif%}>
 <td{%if not blog.userid %} bgcolor="red"{%endif%}>{{blog.userid}}<br/>{{blog.email}}</td>
 <td>{%if user.is_superuser %}
<form method="post" action="modify/{{blog.id}}/">
<input type="text" name="blogname" value="{{blog.name}}">
<input type="submit" value="Save">
</form>
{%else%}
{{blog.name}}
{%endif%}
 </td>
 <td>{{blog.approved|yesno:"Yes,No"}}</td>
 <td>Feed: <a href="{{blog.feedurl}}">{{blog.feedurl}}</a><br/>Blog: <a href="{{blog.blogurl}}">{{blog.blogurl}}</a><br/>
Author Filter:
{{blog.authorfilter}}
 </td>

 <td><a href="log/{{blog.id}}/">View log</a><br/>
{% if blog.approved  or user.is_superuser%}
  <a href="blogposts/{{blog.id}}/">Posts</a><br/>
{%else%}
Not approved yet.<br/>
{%endif%}
  <a href="#" onClick="confirmDelete('{{blog.feedurl}}',{{blog.id}})">Delete blog</a>
</td>
{%if user.is_superuser %}
<td>
  <a href="discover/{{blog.id}}/">Discover metadata</a><br/>
</td>
{%endif%}
</tr>
{%endfor%}
</table>
{%else%}
<p>We have no blogs registered to your account.</p>
{%endif%}
<hr/>
<p>
To register a new blog , please enter the
URL to your RSS feed (PostgreSQL category only!) below.
</p>
<p>
Note that your blog will have to be approved before it appears
on the planet.
</p>
<form method="post" action="new/">
<table border="0" cellspacing="1" cellpadding="0">
<tr>
 <td>Feed URL</td>
 <td><input type="text" name="feedurl"></td>
</tr>
<tr>
 <td>Filter by author (OPTIONAL, advanced):</td>
 <td><input type="text" name="authorfilter"></td>
</tr>
<tr>
 <td>Part of team:</td>
 <td><select name="team">
  <option value="-1">* No team</option>
  {% for team in teams %}
  <option value="{{team.id}}">{{team.name}}</option>
  {%endfor%}
 </select>
 <input type="checkbox" name="ok_team" value="yesitsfine">Check this box to indicate that the owner
 of this team is aware of your registration.
 </td>
</table>
<input type="submit" value="New blog">
</form>
{%endblock%}
