# Add any settings here to override the default ones

DATABASE_NAME = 'planetbeta'
DATABASE_USER = 'admin'

DEBUG = True

NOTIFYADDR='some@where.com'

AUTH_CONNECTION_STRING='put community login connection string here'
