# Add any settings here to override the default ones

DATABASES={
	'default': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'planetpg',
}

DEBUG = True

NOTIFYADDR='some@where.com'

PGAUTH_REDIRECT="..."
PGAUTH_KEY="..."

