{% extends "regbase.html" %}
{%block content%}
{%if blogs %}
<h1>Your blogs</h1>

{%if messages%}
<div class="alert alert-info">
{%for m in messages%}
{{m}}<br/>
{%endfor%}
</div>
{%endif%}

<p>
You have the following blog(s) registered:
</p>
<table class="table table-condensed table-striped table-bordered">
<tr>
 <th>Name</th>
 <th>Approved</th>
 <th>Feed URL/Blog URL</th>
 <th>Status</th>
 <th>Operations</th>
</tr>
{%for blog in blogs%}
<tr valign="top">
 <td>{{blog.name}}</td>
 <td><span class="label label-{{blog.approved|yesno:"success,warning"}}">{{blog.approved|yesno:"Yes,No"}}</span></td>
 <td>Feed: <a href="{{blog.feedurl}}">{{blog.feedurl}}</a><br/>Blog: <a href="{{blog.blogurl}}">{{blog.blogurl}}</a><br/>
Last http get: {{blog.lastget|date:"Y-m-d H:i:s"}}<br/>
 </td>

 <td>
   {%if blog.approved%}
    {%if blog.recent_failures%}
     {%if blog.recent_failures > 5%}
      <a href="log/{{blog.id}}/"><span class="label label-danger">Multiple failures</span></a>
     {%else%}
      <a href="log/{{blog.id}}/"><span class="label label-warning">Sporadic errors</span></a>
    {%endif%}
   {%else%}
    <span class="label label-success">Approved and working</span>
   {%endif%}
  {%else%}
   {%if blog.has_entries%}
    <span class="label label-info">Pending approval</span>
   {%else%}
    <span class="label label-danger">No entries found</span>
   {%endif%}
  {%endif%}
 </td>
 <td>
   <a class="btn btn-default" role="button" href="edit/{{blog.id}}/">Edit</a>
</td>
</tr>
{%endfor%}
</table>
{%else%}
<p>We have no blogs registered to your account.</p>
{%endif%}
<hr/>
<h2>Register blog</h2>
<p>
Note that your blog will have to be approved before it appears
on the planet.
</p>
<a class="btn btn-default" href="new/">Register new blog</a>
{%endblock%}
