{% extends "regbase.html" %}
{%block content%}
{%if blogs %}
<h1>Your blogs</h1>

{%if messages%}
<div class="alert alert-info">
{%for m in messages%}
{{m}}<br/>
{%endfor%}
</div>
{%endif%}

<p>
You have the following blog(s) registered:
</p>
<table class="table table-condensed table-striped table-bordered">
<tr>
 <th>Name</th>
 <th>Approved</th>
 <th>Feed URL/Blog URL</th>
 <th>Status</th>
 <th>Operations</th>
</tr>
{%for blog in blogs%}
<tr valign="top">
 <td>{{blog.name}}</td>
 <td>
   {%if blog.archived%}
   <span class="label label-info">Archived</span>
   {%else%}
   <span class="label label-{{blog.approved|yesno:"success,warning"}}">{{blog.approved|yesno:"Yes,No"}}</span>
   {%endif%}
</td>
 <td>Feed: <a href="{{blog.feedurl}}">{{blog.feedurl}}</a><br/>Blog: <a href="{{blog.blogurl}}">{{blog.blogurl}}</a><br/>
Last successful http fetch dated: {{blog.lastget|date:"Y-m-d H:i:s"}}<br/>
 </td>

 <td class="feedstatus">
   <div>
   {%if blog.archived%}
   <span class="label label-info">Archived</span>
   {%elif blog.approved%}
    {%if blog.recent_failures%}
     {%if blog.recent_failures > 5%}
      <a href="edit/{{blog.id}}/#log"><span class="label label-danger">Multiple failures</span></a>
     {%else%}
      <a href="edit/{{blog.id}}/#log"><span class="label label-warning">Sporadic errors</span></a>
    {%endif%}
      </div>
      <div>
      {% if blog.last_was_error%}<span class="label label-danger">Last attempt failed</span>
      {%else%}<span class="label label-success">Last attempt succeeded</span>{%endif%}
   {%else%}
    <span class="label label-success">Approved and working</span>
   {%endif%}{#recent_failures#}
  {%else%}{#approved#}
   {%if blog.has_entries%}
    <span class="label label-info">Pending approval</span>
   {%else%}
    <span class="label label-danger">No entries found</span>
   {%endif%}
  {%endif%}
   </div>
 </td>
 <td>
   {%if not blog.archived%}
   <a class="btn btn-default" role="button" href="edit/{{blog.id}}/">Edit</a>
   {%endif%}
 </td>
</tr>
{%endfor%}
</table>
{%else%}
<p>We have no blogs registered to your account.</p>
{%endif%}
<hr/>
<h2>Register blog</h2>
<p>
Note that your blog will have to be approved before it appears
on the planet.
</p>
<a class="btn btn-default" href="new/">Register new blog</a>

{%if teams%}
<h1>Your teams</h1>
<p>
You are listed as a manager for the following teams:
</p>
{%for team in teams%}
<div class="panel panel-info">
  <div class="panel-heading"><a href="{{team.teamurl}}">{{team.name}}</a></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
	The following accounts are members of your team. You can remove any member you want.
	New membership is requested by the blog owner, and you will receive a notification
	email when they do.
      </div>
    </div>
    <table class="table table-condensed table-striped">
      <tr>
	<th>Name</th>
	<th>Feed</th>
	<th>Actions</th>
      </tr>
      {%for m in team.blog_set.all%}
      <tr>
	<td><a href="{{m.blogurl}}">{{m.name|default:m.feedurl}}</a></td>
	<td>{{m.feedurl}}</td>
	<td><a class="btn btn-default btn-sm" onClick="confirmRemoveFromTeam({{team.id}},{{m.id}})">Remove from team</a></td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>
{%endfor%}
{%endif%}
{%endblock%}

{%block extrahead%}
<script language="javascript">
function confirmRemoveFromTeam(teamid, feedid) {
  if (confirm('Are you sure you want to remove this blog from the team?\n\n(A notification will be sent to the blog owner.)\n')) {
    document.location.href = 'teamremove/' + teamid + '/' + feedid + '/';
  }
}
</script>
{%endblock%}
