body {
  font-family: verdana, sans-serif;
  color: #000000;
  background-color: #ffffff;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 13px;
}

div#planetHeader {
  width: 100%;
  background: url(http://www.postgresql.org/layout/images/hdr_fill.png);
  padding: 0 0 0 0;
  height: 80px;
  margin: 5px 0 2px 0;
}

div#planetWrap {
  margin-left: 20px;
  margin-right: 20px;
}

div#planetWrap img {
  /* applies to all images */
  border: none;
}

div#planetMain {
  width: 100%;
}

div#planetLeft {
  margin-right: 270px;
  padding-top: 10px;
}

div.planetPostHeaderWrap {
}

div.planetNewDate {
  display: none;
  color: #ec5800;
  font-size: 20px;
  text-align: left;
  margin-left: 40px;
}

div.planetPost {
  margin-bottom: 15px;
  padding: 5px 5px 15px 5px;
  text-align: left;
  border-bottom: thin solid #dadada;
}

div.planetPostHeader {
	float: left;
	width: 100%;
}

div.planetPostTitle {
  font-size: 1.5em;
  font-style: bold;
  font-family: verdana, helvetica, arial, sans-serif;
  padding-bottom: 5px;
}

div.planetPostTitle a {
  text-decoration: none;
}

div.planetPostTitle a:hover {
  text-decoration: underline;
}

div.planetPostAuthor {
  color: #909090;
  font-size: .8em;
  margin: 0;
  padding: 0 10px 0 10px;
  background-color: #dadada;
  overflow: hidden;
}  

div.planetPostAuthor a {
  font-style: italic;
}

div.planetPostAuthor span.date {
  font-style: italic;
}

div.planetPostContent {
  text-align: left;
  margin-top: 20px;
}

div.planetPostContent img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-height: 100px;
   max-width: 100px;
   clear: left;
}

div#planetRight {
   width: 250px;
   margin-top: 10px;
   float: right;
   text-align: left;
   border-left: 1px solid #dadada;
   clear: both;
}

div#planetRight div.planetRightTitle {
   font-weight: bold;
   font-size: 20px;
   padding-left: 10px;
}

div#planetRight div.planetRightDescription {
   font-size: 0.7em;
   padding-left: 15px;
}

div#planetRight ul {
   list-style: none;
   padding-left: 15px;
}

div#planetRight p {
   padding-left: 15px;
}

div.fl { float: left; border: none; text-align: left; }
div.fr { float: right; }
div.cb { clear: both;  }
div.cl { clear: left; }

a:link                          { color:#0085B0; text-decoration: underline; }
a:visited                       { color:#004E66; text-decoration: underline; }
a:active                        { color:#0085B0; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }

/* blog-specific hackery */
div.serendipity_authorpic {
   display: block;
   float: right;
   margin: 5px;
}

.b1f, .b2f, .b3f, .b4f{font-size:1px; overflow:hidden; display:block;}
.b1f {height:1px; background:#ddd; margin:0 5px;}
.b2f {height:1px; background:#ddd; margin:0 3px;}
.b3f {height:1px; background:#ddd; margin:0 2px;}
.b4f {height:2px; background:#ddd; margin:0 1px;}
.contentf {background: #ddd;}
.contentf div {margin-left: 5px;}

/* fix for long pre lines */
pre {
   white-space: pre-wrap; /* css-3 */
   white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
   white-space: -pre-wrap; /* Opera 4-6 */
   white-space: -o-pre-wrap; /* Opera 7 */
   word-wrap: break-word; /* Internet Explorer 5.5+ */
}
