{% extends "regbase.html" %}

{% block regcontent %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <p>
You need to log in to access your settings. This is done using a 
PostgreSQL community account. If you do not have one, go to the main
website and <a href="http://www.postgresql.org/community/signup">sign up</a>.
  </p>
  <form action='.' method='post'>{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  <form action='.' method='post'>

{% endblock %}

